html {
	height: 10%;
	max-height: 10px;
	width: 10px;
	background-color: hsla(200,40%,30%,.4);
	background-image:
    url('https://i.pinimg.com/originals/a4/1c/db/a41cdba3f1a4fb1ad53b7d2187676c28.png'),
    url('https://tse3.mm.bing.net/th?id=OIP.4um08Zy2K8HOZQcn1e1VTQHaDZ&pid=ImgDet&rs=1'),
    url(https://th.bing.com/th/id/R.033724f146f3cb669839ab4be3cb6dd7?rik=OLg%2fDrREpoDA7g&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fiLGGg3e.jpg&ehk=ThImYqKbtTwrEXlET0J3MkDLt%2fctRu%2fl%2bTdXXn7IAuo%3d&risl=&pid=ImgRaw&r=0);
    
        
	background-repeat: repeat-x;
	background-position: 0 60%,
    0 60% , 0 60%;
    
	background-size:
    4000px,
    5000px,
    4000px;
	animation: 15s animate infinite linear;
	}

@keyframes animate {
    0%{
        background-position: 
        1000px 60%,
        8000px 60%;
    }
	100% {
		background-position: 
        11000px 60%,
        2000px 60%;
		}
	}